@import "./fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .custom-scroll::-webkit-scrollbar {
        width: 12px;
        border-radius: 8px;
    }

    .custom-scroll::-webkit-scrollbar-track {
        background: #ffffff;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .custom-scroll::-webkit-scrollbar-thumb {
        background-color: #a0a0a0;
        border-radius: 8px;
        border: 2px solid #f0f0f0;
    }

    .custom-scroll::-webkit-scrollbar-thumb:hover {
        background-color: #808080;
    }
}